@model ClubHorizon.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@*<h2>@ViewBag.Title.</h2>*@
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="~/Content/assets/img/login-banner.png" class="img-fluid" alt="Golf Courses Register">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Customer Register @*<a href="advisors-register.html">Are you a Advisors?</a>*@</h3>
                            </div>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                              
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group form-focus">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control floating" })
                                    @Html.LabelFor(m => m.Email, new { @class = " focus-label" })
                                </div>
                                <div class="form-group form-focus">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control floating" })
                                    @Html.LabelFor(m => m.Password, new { @class = " focus-label" })
                                </div>
                                <div class="form-group form-focus">
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control floating" })
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = " focus-label" })
                                </div>

                                <button class="btn btn-primary btn-block btn-lg login-btn w-100" type="submit">Signup</button>
                                            }
                            <!--<form action="https://pathivu.dreamguystech.com/golf-courses/advisors-dashboard.html">
    <div class="form-group form-focus">
        <input type="text" class="form-control floating">
        <label class="focus-label">Name</label>
    </div>
    <div class="form-group form-focus">
        <input type="text" class="form-control floating">
        <label class="focus-label">Mobile Number</label>
    </div>
    <div class="form-group form-focus">
        <input type="password" class="form-control floating">
        <label class="focus-label">Create Password</label>
    </div>
    <div class="text-end">
        <a class="forgot-link" href="login.html">Already have an account?</a>
    </div>
    <button class="btn btn-primary btn-block btn-lg login-btn w-100" type="submit">Signup</button>-->
                            @*<div class="login-or">
            <span class="or-line"></span>
            <span class="span-or">or</span>
        </div>
        <div class="row form-row social-login">
            <div class="col-6">
                <a href="#" class="btn btn-facebook btn-block w-100"><i class="fab fa-facebook-f me-1"></i> Login</a>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-google btn-block w-100"><i class="fab fa-google me-1"></i> Login</a>
            </div>
        </div>*@
                            <!--</form>-->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
