@model ClubHorizon.Models.MyProfile
@{
    ViewBag.Title = "MyOrders";
}
<div class="content">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="~/Content/assets/img/icons/f1.png" alt="User Image" />
                            </a>
                            <div class="profile-det-info">
                                <h3>@Model.BookingInfo[0].FirstName @Model.BookingInfo[0].LastName </h3>
                                <div class="receiver-details">
                                    @*<h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>*@
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> @Model.user.UserName</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li class="active">
                                    <a href="golfer-dashboard.html">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                @*<li>
                                    <a href="favourites.html">
                                        <i class="fas fa-bookmark"></i>
                                        <span>Favourites</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="chat.html">
                                        <i class="fas fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>*@
                                <li>
                                    <a href="@Url.Action("changepassword","manage")">
                                        <i class="fas fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body pt-0">

                        <nav class="user-tabs mb-4">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                @*<li class="nav-item">
                                    <a class="nav-link active" href="#pat_batch" data-bs-toggle="tab">Batch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pat_medical_records" data-bs-toggle="tab"><span class="med-records">Golf Taken Records</span></a>
                                </li>*@
                                <li class="nav-item">
                                    <a class="nav-link active" href="#pat_billing" data-bs-toggle="tab">Billing</a>
                                </li>
                            </ul>
                        </nav>


                        <div class="tab-content pt-0">

                            <div id="pat_batch" class="tab-pane fade show active">
                                <div class="card card-table mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-center mb-0">
                                                <thead>
                                                    <tr>

                                                        <th>Booked date</th>
                                                        <th>Booked Slot </th>
                                                        <th>Amount</th>
                                                        <th>Payment Status</th>
                                                        @*<th></th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ foreach (var item in Model.BookingInfo)
                                                        {


                                                    <tr>
                                                        <td>@Convert.ToDateTime( item.CreatedOn).ToString("dd/MM/yyyy hh:mm tt") </td>
                                                        <td>
                                                            @foreach (var items in Model.BookingDtlInfo.Where(i=>i.OrderId==item.OrderId))
                                                            {
                                                                <span>@items.Date (@items.TimeSlots) </span><br />

                                                            }
                                                        </td>
                                                        <td>@item.TotalAmount</td>
                                                        <td><span class="badge badge-pill bg-success-light">@item.TransectionStatus</span></td>
                                                        @*<td class="text-end">
                                                            <div class="table-action">
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> Print
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> View
                                                                </a>
                                                            </div>
                                                        </td>*@
                                                    </tr>
                                                        }
                                                        }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

